@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:wght@700;900&display=swap");

body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", sans-serif;
  margin: 0;
}
#header {
  background: url(../images/desktop/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links > a {
  color:hsl(206, 17%, 92%);
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}

#contact{
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
  color: black;
  font-family: "Fraunces";
}

#contact:hover {
  background-color: #70cfff;
  color: #fff;
}

#about, #services, #projects {
  padding: 1rem 2rem;
  border-radius: 30px;
}

#about:hover, #services:hover, #projects:hover {
  background-color: #70cfff;

}



#hamburger {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

#headers_body {
  text-align: center;
}


#logo {
  width: 150px;
}

#headers_heading {
  color: #fff;
  margin-top: 6rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Fraunces";
  text-align: center;
}

.grid1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.body-heading {
  font-family: Fraunces;
  font-size: 2rem;
  color: hsl(212, 27%, 19%);
}

.body-text {
  font-size: 1rem;
  color: hsl(213, 9%, 39%);
  line-height: 1.5;
}

.text-block {
  padding: 0 3rem 0 3rem;
  box-sizing: border-box;
}

.grid-image {
  width: 100%;
}

.order > div:first-child {
  order: 2;
}

.learn {
  width: 120px;
}

.body-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  font-family: "Fraunces", sans-serif;
  display: block;
}

.underline {
  display: inline-block;
  width: 100%;
  height: 8px;
  position: relative;
  top: -10px;
  left: -3px;
  border-radius: 30px;
  z-index: -1;
}

.underline1 {
  background-color: #fdedbe;
}

.underline2 {
  background-color: #fad9d2;
}

.learn-more1:hover .underline1 {
  background-color: hsl(51, 100%, 49%);
}

.learn-more2:hover .underline2 {
  background-color: hsl(7, 99%, 70%);
}

/* grid phtograpghy and graphic design background setup */
#graphic {
  background: url(../images/desktop/image-graphic-design.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

#photography {
  background: url(../images/desktop/image-photography.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.inner-text {
  margin-bottom: 3rem;
}

#graphic,
#photography {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  padding: 0 3rem 0 3rem;
}

#testimonials-heading {
  text-align: center;
  color: hsl(210, 4%, 67%);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 2px;
  margin-top: 5rem;
}

/* testimonials */
.testimonials-users {
  display: flex;
  justify-content: space-between;
}

.user {
  text-align: center;
  padding: 2rem;
}

.user-img {
  border-radius: 50%;
  width: 60px;
}

.user-review,
.user-job-position {
  color: #818498;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

.user-name {
  color: hsl(212, 27%, 19%);
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-top: 2rem;
}

.gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-img {
  width: 100%;
}

/* footer */
#footer {
  background: #90d4c5;
  color: hsl(168, 34%, 41%);
  text-align: center;
  padding: 4rem 0;
}

#footer-logo {
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  margin-bottom: 2.5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-links > a {
  color: hsl(168, 34%, 41%);
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  transition: color 0.5s;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;;
  font-size: 1.4rem;
}

.fab{
  transition: color .5s;
}


.footer-links > a:hover, .fab:hover{
  cursor: pointer;
  color: #fff;
}